extends layout

block content
  h1= title
  if show
  form(action="", method="post")
    p Jaka jest Twoja uluboan pora roku ?
      ul 
        each item in data
          li
            label=item.title
            input(type="radio", name="quiz", value=item._id)
  
      input(type="submit", value="Zaglosuj")
  else
    h1 Zaglosowales
    p Wynik
    ul 
      each item in data
        li #{item.title} glosow #{item.vote/(sumVote*100)}%
    p Zaglosowalo #{sumVote}    
